kind: PersistentVolume
apiVersion: v1
metadata:
  name: elasticsearch-pv-volume
  namespace: kube-logging
  labels:
    type: local
    app: elasticsearch
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: elasticsearch-pv-claim
  namespace: kube-logging
  labels:
    app: elasticsearch
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
