apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: public-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/add-base-url: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - host: app.shiprashalini.com
    http:
      paths:
        - path: /sc
          pathType: Prefix
          backend:
            service:
              name: social-connect
              port:
                number: 8000
